<template title>
  <style>
    :scope > h1 {
      user-select: none;
      cursor: pointer;
      color: red;
    }
    :scope h2 {
      user-select: none;
      cursor: pointer;
      color: blue;
    }
  </style>

  <h1 class="self-center text-lg" :click="add">Hola mundo</h1>

  <div class="flex flex-col px-4">
    <h2 :click="add">Hola mundo</h2>
    <div @button namespace="{namespace}/zoo">
      <span>espeando...</span>
    </div>
    <div data-rel="list" =""></div>
  </div>

  <script ref>
    const h1 = bind("h1");
    const h2 = bind("h2");
    const list = bind("[data-rel='list']");
  </script>

  <script hook>
    const [counter, setCounter] = useContext("@counter", 0);

    const [count, setCount] = useState(0);
    const [count2, setCount2] = useState(100);
  </script>

  <script render>
    h1.textContent = `Count: ${count} - ${count2} (${counter})`;
    h2.textContent = `Count: ${count} - ${count2}`;
  </script>

  <script mounted>
    console.log(":mounted");
    list.innerHTML = `
      ${[1, 2, 3].map(() => `<div @button>xx</div>`).join("\n")}
    `;
  </script>

  <script :add>
    setCount(count + 1);
    setCount2(count2 - 1);
  </script>
</template>
